<h1>Edit <%= @company.name %></h1>

<div>
  <%= render(:partial => "layouts/companies_form", :locals => {:@company => @company}) %> 
</div>
<div>
 <%= link_to "Delete Company", :company, method: :delete %>
</div>