<h1>Company List</h1>

<div>
 <% @companies.each do |c| %>
 <div>
  <div>
    <div>
      <div>
        <img src="<%= c.image %>">
      </div>
      <div>
        <p><a href="<%= c.website %>">Website</a></p>
        <p><a href="#">Open Positions</a></p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

