// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #F5F3EE;
}

.card{
  width: 50%;
  margin: auto;
}

.activator{
  width: 2em;
  height: 14em;
}
.container-jobs{
  width: 800px;
}