// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-page{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
  margin: 0;
  padding: 0;
}